<!-- app/views/students/welcome.html.erb -->
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">Welcome to Socials!</h1>
    
    <% if !current_student.nil? %>
      <p class="lead">Welcome back, <%= current_student.name %>!</p>
      <hr class="my-4">
      <div class="row justify-content-center mt-4">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <%= link_to "View Students", students_path, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="lead">Sign up or log in to access all features.</p>
      <hr class="my-4">
      <div class="row justify-content-center mt-4">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <%= link_to "Sign Up", new_signup_path, class: "btn btn-primary m-2" %>
              <%= link_to "Log In", new_login_path, class: "btn btn-secondary m-2" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>